body {
  margin: 0;
  font-family: system-ui,-apple-system,system-ui,'"Helvetica Neue",Helvetica,Arial,sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#custom-button {
  padding: 30px 32px;
  text-align: center;
}

#custom-button {
  border: 0;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  height: 20px;
  margin: 0;
  padding: calc(.85rem - 1px) calc(1.2rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 100ms;
  vertical-align: baseline;
  width: 100px;
  white-space: nowrap;
  text-align: center;
  align-items: center;
  border-radius: .5rem;
}

#custom-button:hover,
#custom-button:focus {
  background-color: darkblue;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

#custom-button:active {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}

#custom-b, #custom-b-auth{
  font-family: 'Lobster', cursive;
  transition: color 0.5s;
}
#custom-b, #custom-b-auth:hover {
  color: AE9142;
}

#custom-con-auth {
  background-color: #0C2340;
  padding: 34px 0;
  text-align: center;
  font-size:x-large;
  border: 3px solid #AE9142;
}
#custom-b-auth{
    color:white;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title { 
  font-family: 'Lobster', cursive;
  font-size: 35px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  color: white;
  transition: all 200ms;
}

.title:hover {
  color: #AE9142;
}
.content{
  text-align: center;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video{
    width: auto;
    height: 100%;
  }
}

footer {
  text-align: center;
  background-color: #0C2340;
  padding: 30px 0;
  border: 3px solid #AE9142;
}
.footer-ul {
  display: inline-block;
  text-align: left;
}
.footer-ul li {
  border: 0;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,'"Helvetica Neue",Helvetica,Arial,sans-serif';
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  height: 20px;
  position: relative;
  width: 100px;
  white-space: nowrap;
}

#footer-link {
  text-decoration: none;
  color: white;
}

#footer-link:hover {
  color: #AE9142;
}

.auth-title, .main-title {
  font-family: 'Lobster', cursive;
  text-align: center;
}

.form-group{
  text-align: center;
  font-family: system-ui,-apple-system,system-ui,'"Helvetica Neue",Helvetica,Arial,sans-serif';
  font-size: 14px;
  font-weight: 600;
}

.form-group input {
  display: inline-block;
  justify-content: center;
  width: 200px;
}

#auth-button, #reset-btn {
  font-family: system-ui,-apple-system,system-ui,'"Helvetica Neue",Helvetica,Arial,sans-serif';
  font-size: 14px;
  font-weight: 600;
} 
#auth-redirect {
  font-size: 12px;
  font-weight: 400;
}

.main-title {
  padding: 34px 0;
  background-color: #0C2340;
  color: white;
  border: 3px solid #AE9142;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border: 0.5px dotted lightgray;
}


.prod-h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ind-list {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightblue;
  border-radius: 1%;
  padding: 5px 10px;
  list-style-type: none;
  list-style-position:inside;
}

.ind-list:hover {
  background-color: lightgoldenrodyellow;
}
#ind-list-link {
  text-decoration: none;
  color:#0C2340;
  font-weight: bold;
  transition: all 100ms;
}

#ind-list-link:hover {
  color:#AE9142;
}

#combo-box-demo, .prof-header, .prof-prod-l {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.prof {
  padding: 15px 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.prof .flex-container{
  justify-content: center;
  align-items: center;
}
.prof .flex-child {
  padding-left: 5px;
  padding-right: 5px;
  border: 0px;
}

#first-name-input, #last-name-input {
  width: 200px;
}

#prof-header {
  padding-left: 10px;
}

#prof-photo {
  border-radius: 10%;
}

.prof-prod {
  padding: 20px;
  width: fit-content;
}

.edit-list-form {
  padding: 20px;
  text-align: center;
}

.prof-prod-l {
  padding: 0px 0px;
  list-style-type: none;
  list-style-position:inside;
}

.prof-listing-item {
  background-color: lightblue;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 1%;
  transition: all 200ms;
  width: 500px;
}
.prof-listing-item:hover {
  background-color: lightpink;
}